@charset "UTF-8";
body, p, ul, li, blockquote {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  border-radius: 5px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px, 1fr) 3fr 300px;
      grid-template-columns: minmax(160px, 1fr) 3fr 300px;
      grid-template-areas: "header header header" "sidenav content anuncios" "footer footer footer";
  /**************** Header ****************/
  /**************** Sidenav ****************/
  /**************** Content ****************/
  /**************** Anúncios ****************/
  /**************** Footer ****************/
}

.container .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .logo {
  max-width: 200px;
}

.container .header .logo img {
  max-width: 100%;
  height: 90px;
}

.container .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .header nav li + li {
  margin-left: 20px;
}

.container .header nav a {
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: yellow;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .header nav a:hover {
  background-color: #2e2a2a;
}

.container .sidenav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px 0;
}

.container .sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
          box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.container .sidenav li a:hover {
  background-color: rgba(20, 20, 20, 0.8);
}

.container .sidenav li img {
  height: 100px;
}

.container .content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.container .content p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.container .content .titulo {
  color: rgba(0, 0, 0, 0.9);
}

.container .content .titulo h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: bold;
  margin: 0;
}

.container .content .titulo span {
  font-size: .8rem;
  font-style: italic;
  margin-top: 0;
}

.container .content .caracteristicas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #141414;
}

.container .content .caracteristicas span {
  display: block;
}

.container .content .caracteristicas > div {
  width: 90px;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
          box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  border-radius: 5px;
  position: relative;
}

.container .content .caracteristicas > div:first-child {
  margin-right: 30px;
}

.container .content .caracteristicas > div .numero {
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}

.container .content .caracteristicas > div .rotulo {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.container .content .destaque {
  font-size: 0.7rem;
}

.container .content .citacao, .container .content .personagens {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 0px rbga(44, 44, 44, 0.15);
          box-shadow: 5px 5px 15px 0px rbga(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #413d3d, #383535);
}

.container .content .citacao p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.container .content .personagens {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.container .content .personagens li {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  padding: 15px;
}

.container .content .personagens li + li {
  border-top: 2px solid #383535;
}

.container .content .informacoes p + p {
  margin-top: 30px;
}

.container .content .img-1 {
  grid-row: span 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 300px;
  height: 360px;
}

.container .content .img-2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 300px;
  height: 250px;
}

.container .content .img-3 {
  width: 100%;
  height: 250px;
}

.container .col-wide {
  grid-column: 1 / -1;
}

.container .anuncios {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: anuncios;
  background: #fafbfc;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  padding: 30px;
  gap: 30px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.container .anuncios img {
  width: 250px;
  height: 200px;
}

.container .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background: black;
}

.container .footer p {
  color: white;
  text-align: center;
  padding: 30px;
}

@media (max-width: 900px) {
  .container {
        grid-template-areas: "header header" "sidenav content" "sidenav anuncios" "footer  footer";
  }
}

@media (max-width: 760px) {
  .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "header" "sidenav" "content" "anuncios" "footer";
  }
  .container .header {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .container .header .logo {
    margin-bottom: 10px;
  }
  .container .header nav a {
    font-size: 1rem;
  }
  .container .header nav li + li {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .container .sidenav {
    padding: 0 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
  }
  .container .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    -webkit-animation: seta .5s ease-in 0s infinite alternate;
            animation: seta .5s ease-in 0s infinite alternate;
  }
  .container .sidenav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .sidenav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60px;
            flex: 1 0 60px;
  }
  .container .sidenav ul li a {
    margin: 30px 30px 30px 0px;
  }
  .container .anuncios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .container .content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .container .content .img-1, .container .content .img-2 {
    width: 100%;
  }
  .container .anuncios {
    display: block;
    margin: 0 auto;
  }
  .container .anuncios img {
    padding: 5px;
  }
}

@-webkit-keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}
/*# sourceMappingURL=index.css.map */